/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff2d8;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo img {
  max-height: 40px;
}
.menu {
  list-style: none;
  display: flex;
}
.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #113946;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #bca37f;
}

/* ********profile *************** */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 50px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.my-img {
  max-height: 200px;
  border-radius: 30px 30px 0 0;
}

.light-btn {
  background-color: #ead7bb;
  border-radius: 5px;
  color: #113946;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.light-btn a {
  text-decoration: none;
  color: #113946;
}

.dark-btn {
  background-color: #113946;
  border-radius: 5px;
  color: #ead7bb;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.dark-btn a {
  text-decoration: none;
  color: #ead7bb;
}
button:hover {
  background-color: #fff;
  border: #113946 solid 1px;
}

/* **********about me section*************** */

.about-container {
  display: grid;
  background-color: #ead7bb;
}
.about h3 {
  text-decoration: underline;
}
.about img {
  max-height: 350px;
  float: left;
  border-radius: 50%;
  margin: 20px;
  justify-content: center;
}
.about p {
  font-size: 16px;
  text-align: center;
}
